*{
    margin: 0px;
    padding: 0px;
}

body ::content{
    
    background-color: #B0BEC5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    
}

.headline{
    text-align: center;
    color: black;
}