<mat-toolbar color="indigo">
  
 <div class="title">
  <span><i>Firebase Tutorials</i></span>
  <span class="material-icons">
    local_fire_department
    </span>
 </div>
  
</mat-toolbar>

<nav mat-tab-nav-bar backgroundColor="warn" color="warn" [tabPanel]="tabPanel">
  <a mat-tab-link *ngFor="let link of links"
     [routerLink]="link.path"
     routerLinkActive
     #rla="routerLinkActive"
     [active]="rla.isActive"
    > {{link.label}}
    <span class="material-icons">
      {{link.icon}}
    </span>
  </a>
    
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<router-outlet></router-outlet>